html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

@font-face {
  font-family: "homeFont";
  src: url(/fonts/Restaurant.woff) format("truetype");
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("/fonts/source-sans-pro/sourcesanspro-light-webfont.eot"); /* IE9 Compat Modes */
  src: url("/fonts/source-sans-pro/sourcesanspro-light-webfont.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/fonts.svg#source_sans_prolight") format("svg"),
    /* Legacy iOS and Chrome */
      url("/fonts/source-sans-pro/sourcesanspro-light-webfont.woff")
      format("woff"),
    /* Modern Browsers */
      url("/fonts/source-sans-pro/sourcesanspro-light-webfont.ttf")
      format("truetype"); /* Safari, Android, iOS */

  font-style: normal;
  font-weight: 400;
}

.regularLink {
  color: rgb(223, 66, 68);
  text-decoration: none !important;
  transition: all 0.3s ease;

  &:focus {
    color: rgb(223, 66, 68);
    text-decoration: none !important;
    transition: all 0.3s ease;
  }

  &:hover {
    color: rgb(155, 12, 14) !important;
  }
}

.navBar {
  width: 100%;
  height: 40px;
  display: block;
  color: #999;
  background-color: #1b1b1b;
  font-family: Helvetica;
  margin: 0 auto;
  text-align: center;
  position: fixed;
  z-index: 10;
  overflow-y: hidden;

  transition: all 0.3s ease;

  &.top {
    height: 57px;

    .navItem {
      padding-top: 18px;
      font-size: 19px;

      .navItemText {
        top: 25px;
      }

      .wrap .section {
        min-height: 300px;
        padding-bottom: 30px;
        padding-top: 10px;
      }
    }
  }

  .navItem {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    width: 100px;
    height: 100%;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding-top: 14px;

    .navItemText {
      top: 13px;
      position: relative;
      transition: all 0.3s ease;
    }

    &:hover {
      background-color: rgba(255, 0, 0, 0.24);
    }

    &.selected {
      background-color: #df4244;
      color: rgba(255, 255, 255, 0.89);
    }
  }
}

.wrap {
  #homeCover {
    position: fixed;
    background: black;
    overflow: hidden;
    width: 100%;
  }

  #homeCover {
    z-index: -1;
  }

  #home {
    background-image: url("/images/homeBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 560px;
    position: fixed;
    z-index: -1;
    width: 100%;
    opacity: 0.6;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
  }
}

.homeWrapper {
  margin: 0 auto;
  text-align: center;
  color: white;
  font-family: "homeFont";

  .info {
    background-color: #0000006e;
    padding-top: 250px;

    #name {
      font-size: 48px;
      font-weight: bold;
      padding-bottom: 10px;
    }

    #jobTitle {
      font-size: 32px;
    }

    #arrowDown {
      font-size: 35px;
      margin-top: 120px;
    }
  }
}

.section {
  &#projects {
    background-color: #df4244;
    color: white;
  }

  &#resume {
    background-color: #f9f9f9;
    padding-bottom: 40px;
  }

  .openResumeIcon {
    font-size: 40px;
    right: 10px;
    position: absolute;
    bottom: 5px;
    transition: color 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      color: #df4144;
    }
  }

  &#hobbies {
    background-color: #df4244;
    color: white;
    text-align: center;

    iframe {
      padding: 10px;
    }
  }

  &#contact {
    background-color: #f9f9f9;
    padding-bottom: 30px;
  }

  .sectionTitleWrapper {
    width: 50%;
    border-bottom: 1px solid rgba(194, 170, 170, 0.31);
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .sectionTitle {
    font-size: 34px;
    padding-top: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
    font-family: "Dosis", sans-serif;
    padding-bottom: 5px;
    position: relative;
  }
}

.projects {
  text-align: center;

  .project {
    cursor: pointer;
    display: inline-block;
    width: 400px;
    height: 400px;
    overflow-x: auto;
    position: relative;
    margin: 10px;
    border-radius: 300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease-in-out;

    .projectLogo {
      height: 160px;
      width: 335px;
      padding-top: 20px;
      overflow: hidden;
      top: 0px;
      display: block;
      padding-bottom: 10px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 80%;
      margin: 0 auto;
    }

    .textWrapper {
      color: black;
      padding: 10px 40px;
      background-color: #f995001a;
      height: 190px;
      transition: all 0.3s ease-in-out;

      .projectTitle {
        display: block;
        padding-bottom: 20px;
        font-family: "Open Sans Condensed", sans-serif;
        text-align: left;
        font-size: 23px;
      }

      .projectDescription {
        vertical-align: middle;
        display: table-cell;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 18px;
      }
    }

    &:hover {
      box-shadow: 0 4px 14px 17px rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);

      .textWrapper {
        background-color: #f9950085;
      }
    }
  }
}

.resumeWrapper {
  width: 80%;
  margin: 0 auto;
  box-shadow: 2px 2px 12px #444;
  background-color: white;
  font-family: "Source Sans Pro", sans-serif;
  padding: 30px;
  max-width: 1100px;

  .resumeHeader {
    margin-bottom: 30px;
    font-size: 36px;
    padding-top: 20px;

    .name {
      color: rgba(181, 23, 41, 0.97);
    }

    h2,
    p {
      display: inline-block;
    }
  }

  .resumeTitle {
    font-size: 30px;
    border-bottom: 1px solid rgba(223, 65, 68, 0.22);
    margin-bottom: 20px;
  }

  .resumeSection {
    margin-bottom: 50px;
  }

  .resumeSectionHeader {
    margin-bottom: 10px;
    font-size: 24px;

    &.dimmed {
      color: #828181;
    }

    .important {
      font-weight: bold;
      color: black;
    }

    .date {
      float: right;
      font-size: 16px;
      color: black;
    }
  }

  .resumeDescriptionWrapper {
    margin-bottom: 25px;
    line-height: 20px;
    font-size: 15px;

    .bulletWrapper {
      display: block;
      padding-left: 10px;
      position: relative;
      margin-bottom: 6px;
    }

    .resumeBullet {
      padding-left: 5px;
    }

    .bulletSymbol {
      display: inline-block;
      position: absolute;
      top: 0px;
    }

    .resumeBullet {
      display: inline-block;
      top: 0px;
    }

    .resumeDescription {
      margin-bottom: 5px;
    }
  }

  .mediumSizeTitle {
    font-size: 18px;
  }

  .publication {
    .publicationTitle {
      font-weight: bold;
      display: inline-block;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .course {
    .coursePlace {
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

.contactMeOptions {
  text-align: center;
}

.contactMeOption {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 2px solid #fff;
  border-radius: 100%;
  text-align: center;
  font-size: 40px;
  line-height: 100px;
  background-color: rgba(202, 46, 46, 0.7);
  color: white;
  cursor: pointer;

  &:hover {
    background-color: #df4244;
  }
}

.skillsGroupWrapper {
  display: inline-block;
  cursor: pointer;

  .skill {
    display: inline-block;
    margin-right: 4px;
    background-color: #dddada;
    padding-right: 6px;
    padding-left: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-size: 14px;
    margin-bottom: 3px;
  }

  &.webTechnologies:hover {
    .skill {
      background-color: rgb(223, 66, 68);
      color: white;
    }
  }

  &.jsTechnologies:hover {
    .skill {
      background-color: rgb(232, 185, 100);
      color: white;
    }
  }

  &.programmingLanguages:hover {
    .skill {
      background-color: rgb(125, 205, 112);
      color: white;
    }
  }

  &.others:hover {
    .skill {
      background-color: rgb(122, 119, 147);
      color: white;
    }
  }
}

.footer {
  height: 50px;
  color: white;
  background: #1b1b1b;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  display: table;
  width: 100%;

  span {
    vertical-align: middle;
    display: table-cell;
  }
}

.tippy-tooltip {
  font-family: "Source Sans Pro", sans-serif;
}
